.joe{
    font-size: xx-large;
    font-weight: 900;
    color: rgb(20, 18, 20);
    
}
.joe2{
color: red;
justify-content: center;
}
.home{
    color: green;
    font-size: xx-large;
    text-decoration: underline;
}
.l{
    font-size: x-large;
}